{% extends "base.html" %}

{% block content %}


<h1>PDF to CSV</h1>
<br><br>
  <form method=
    "POST" 
    action=
    ''
    enctype=
    "multipart/form-data">
    <!--     "{% url 'PDFRIp'%}"  -->
    {% csrf_token %}
        {{form.as_p}}

    <div>
      <button type="submit" class="btn btn-bd-forsite">Convert</button>

    </div>
  </form>






<a type="button" class="btn btn-bd-forsite"href="https://djangobytut.khatfield.repl.co/members/Navigation">Back To Navigation Screen</a>




{% endblock content %}








<!--       
            <div class="form-group">
              <input type="text" class="form-control" placeholder="" name="name" value={{name}}>
            </div>
            <div class="form-group">
              <input type="file" class="form-control" placeholder="" name="imagefile" value={{imagefile}}>
            </div>

 -->